//301 Redirect Old File
redirect 301 / https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/kalanchoes.html https://altmanplants.com/brands/cactus-collection
redirect 301 http://www.cactuscollection.com/articles/art_echeveria.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/sedums.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/jade.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/aloes.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/opuntias.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/sphaeroids.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/fireandice.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/portulacaria.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/succulents02.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/cactusinthemist.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/scintillatingsucculents.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/aeoniums.html https://altmanplants.com/brands/cactus-collection/
redirect 301 http://www.cactuscollection.com/articles/rhipsalidopsis.html https://altmanplants.com/brands/cactus-collection/